main.pg-home-wrapper {
  grid-template-areas: "intro" "tech" "connect";

  @media screen and (min-width: 769px) {
    grid-template-areas:
      "intro tech"
      "intro connect";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}

.pf-intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.pf-card-background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: 0;
  transform: translateZ(0);
}

.pf-intro-blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 1;
  transform: translateZ(0);
}

.pf-intro-content {
  position: relative;
  z-index: 2;
}

.pf-intro,
.pf-intro-blur,
.pf-card-background-image {
  will-change: transform, opacity;
}

.pf-contact-links {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  grid-area: connect;
}

a.pf-contact-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: max-content;
}

.pf-stats-container {
  grid-area: stats;
}

.pf-stats {
  display: grid;
  gap: 0.5rem;
}

.pf-stat {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  color: var(--background-color);
}

.pf-stat * {
  margin: 0;
}

.pf-tech-stack-container {
  grid-area: tech;
}

.pf-tech-stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  list-style: none;
  padding: 0;
}

.pf-tech-stack-item {
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  padding: 0.25rem 0.75rem;
  cursor: default;
  color: var(--paragraph-color);
  font-weight: 600;
}
