.pf-profile-picture-container {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  border: 3px solid var(--tertiary-color);
  background-color: var(--card-background-color);
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
}

.pf-profile-picture-image {
  position: absolute;
  height: 100%;
  left: -0.5rem;
}
