main {
  display: grid;
  gap: 1rem;
  margin: 1rem auto;
  transition: margin 0.5s ease-in-out;
}

@media screen and (min-width: 587px) {
  main {
    margin: 2rem auto;
  }
}

a {
  color: var(--paragraph-color);
  text-decoration: none;
}

.-card {
  background-color: var(--card-background-color);
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid var(--border);
}

.-card:has(.pf-card-background-image) {
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.pf-card-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1;
}
.pf-intro:has(.pf-card-background-image)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(3px);
}

.pf-button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  color: var(--header-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease-in-out;
  height: min-content;
}

.pf-button:hover {
  background-color: var(--tertiary-color);
  color: var(--card-background-color);
}

.pf-button.active {
  background-color: var(--primary-color);
  color: var(--card-background-color);
}

.pf-availability {
  color: var(--card-background-color);
  background-color: var(--tertiary-color);
  border-radius: 25px;
  width: max-content;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
}

.-tertiary-bg {
  background-color: var(--tertiary-color);
  color: var(--card-background-color);
}

.pf-button.-tertiary-bg:hover {
  background-color: var(--primary-color);
}
