main {
  transition: margin 0.5s ease-in-out;
  justify-content: center;
}

a {
  color: var(--paragraph-color);
  text-decoration: none;
}

.-card {
  background-color: var(--card-background-color);
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid var(--border);
}

.pf-card-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1;
}
.pf-intro:has(.pf-card-background-image)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(3px);
}

.pf-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--tertiary);
  border: 0;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease-in-out;
  height: min-content;
  width: max-content;
}

.pf-button:hover {
  background-color: var(--quaternary);
  color: var(--background);
  cursor: pointer;
}

.pf-button.active {
  background-color: var(--primary);
  color: var(--background);
}

.pf-button.-primary-button {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.pf-button.-primary-button:hover {
  background-color: var(--primary-muted);
}

.pf-button.-white-button {
  background-color: var(--card);
}

.pf-button.-white-button:hover {
  background-color: var(--secondary);
  color: var(--foreground);
}

.-quaternary-bg {
  background-color: var(--quaternary);
  color: var(--background);
}

.pf-button.-quaternary-bg:hover {
  background-color: var(--primary);
}

.pf-button:disabled {
  background-color: var(--muted);
  cursor: not-allowed;
}

.pf-button:disabled:hover {
  background-color: var(--muted);
  cursor: not-allowed;
}

.pf-theme-toggle {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--nav-background);
  border: 1px solid var(--primary-muted);
  color: var(--primary);
  cursor: pointer;
  transition: all 0.2s ease;
}
.pf-theme-toggle:hover {
  transform: translateY(-0.25rem);
}
