:root {
  --background: #faf8f5;
  --foreground: #2d2420;
  --card: #ffffff;
  --primary: #bd592e;
  --primary-foreground: #ffffff;
  --primary-muted: #bd592ee6;
  --secondary: #f4e8dd;
  --tertiary: #775845;
  --quaternary: #537f56;
  --accent: #bd592e;
  --paragraph-color: #7a6f65;
  --muted: #f0ebe5;
  --muted-foreground: #6b5e56;
  --nav-background: rgba(255, 255, 255, 85%);
  --border: #d4764e26;
  --input-background: #f8f3ee;
  --border-radius: 10px;
}

[data-theme="dark"] {
  --background: #15110f;
  --foreground: #f3e8df;
  --card: #1e1916;
  --primary: #c05621;
  --secondary: #29211c;
  --tertiary: #e2d0c2;
  --quaternary: #84aa7f;
  --accent: #d65f24;
  --paragraph-color: #b7a99d;
  --muted: #241d19;
  --muted-foreground: #98897d;
  --nav-background: #000000d9;
  --border: #e07b4726;
  --input-background: #211b18;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  background-color: var(--background);
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: stretch;
  justify-self: center;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--foreground);
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  gap: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: -0.025rem;
}

h2 {
  font-size: 3rem;
}

h4 {
  color: var(--muted-foreground);
  font-weight: 400;
  font-size: 0.875rem;
}

p,
li,
span {
  color: var(--paragraph-color);
  letter-spacing: 0.02rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0.5rem;
  margin: auto;
  transition: 0.25s ease-in-out all;
  @media screen and (min-width: 587px) {
    padding: 3rem 2rem;
  }
}

section > header {
  display: grid;
}

section > * {
  align-self: center;
  max-width: 1200px;
}
